* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/bg02-site-allan.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

/*------  Estilo CABEÇALHO -----*/

header {
    padding: 30px 4%;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
}

header nav ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 25px;
}

header nav.menu-desktop ul li a {
    font-size: 18px;
    letter-spacing: 1px;
}

header nav.menu-desktop a:hover {
    transform: scale(1.2);
    display: inline-block;
    transition: 0.3s;
    color: #fc6c04;
}

.btn-contato button {
    padding: 10px 40px;
    font-weight: 600;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.6;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 25px #fc6c04;
    transform: scale(1.05);
}

/*-------- Botão zap ---------*/

.icon {
    bottom: 60px;
    right: 100px;
    position: fixed;
    font-size: 70px;
    background-color: #01e6737e;
    color: #fff;
    border-radius: 50px;
    padding: 3px;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 2px #c0bdbd;
    top: 200px;
    z-index: 100;
}

.icon .fab {
    padding-top: 9px;
}

.h2-icon {
    font-size: 16px;
    margin-top: -60px;
    color: #fff;
    background-color: #01e6737e;
    border-radius: 20px;
    width: 120px;
    margin-left: -101px;
    padding: 5px;
    display: none;
}


/*-------- Estilo do menu mobile ---------*/

.menu-mobile {
    background-color: rgba(0, 0, 0, 0.459);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.4s;
    display: none; /* 1 none aqui */
}

.menu-mobile nav ul {
    text-align: right;
}

.btn-abrir-mobile.hidden {
    display: none;
}

.menu-mobile nav ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
}

.menu-mobile nav ul li a:hover {
    background-color: #00ff08;
    color: #00000081;
    
}

.menu-mobile .btn-fechar i {
    color: #00ff08;
    font-size: 30px;
}

.btn-fechar {
    padding: 20px 5%;
}

.btn-abrir-mobile.hidden {
    display: none;
}

.btn-abrir-mobile i {
    color: #00ff08;
    font-size: 40px;
    display: none; /*  2 none aqui */
}

.overlay-menu {
    background-color: #0000002a;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
    transition: 0.2s;
    display: none; /* 3 none aqui */
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
    display: none; /*  4 none aqui */
}


/*------  faixa Manifesto -----*/

.manifesto-titulo img {
    align-items: center;
    width: 230px;
    margin-left: 500px ;
}

.manifesto .interface img {
    align-items: center;
}

.manifesto {
    background-color: #1717177c;
    padding: 15px 8%;
}
/*------  Principal Manifesto -----*/

section.principal-manifesto {
    padding: 40px 4%;
}

section.principal-manifesto .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.manifesto-text h2  {
    color: #fff;
    margin-left: 0px;
    align-items: center;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 50px;
}

section.principal-manifesto .manifesto-text h2 span {
    color: #fc6c04;
}

section.principal-manifesto .manifesto-text p {
    color: #fff;
    margin: 20px 0;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    text-indent: 50px;
}

section.principal-manifesto .manifesto-img img {
    width: auto;
}

/*-------- Estilo Formulario ---------*/

section .formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

section.formulario .titulo {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    color: #fff;
}

section.formulario h2 span {
    color: #fc6c04;
}

section.formulario h2 {
    align-items: center;
    margin-left: 0px;
}

form {
    background: transparent;
}
form input {
    width: 150%;
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: black;
    font-size: 18px;
}

form textarea {
    width: 150%;
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 80px 15px;
    border-radius: 15px;
    color: black;
    font-size: 18px;
}

form input::placeholder {
    color: #fff;
}

form textarea::placeholder {
    color: #fff;
    text-align: left;
    position: absolute;
    top: 20px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: right;
    padding: auto;
}


form .btn-enviar input[type="submit"] {
    width: 120px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
    height: 70px;
    width: 150px;
    
    margin-bottom: 50px;
}

.formulario-campos {
    align-items: left;
}

#btn-enviar {
    width: 120px;
    margin-left: 632px;
    color: #fff;
    background-color: #1caa50;
    margin-top: -40px;
}

#btn-enviar:hover {
    background-color: #fc6c04;
    transform: scale(1)translateY(-2px);
    box-shadow: 0 0 25px #fc6c04;
}

label  {
    font-size: 19px;
    color: #eeeeee;
}

#checkbox1 {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

#caixa-text {
    margin-bottom: 20px;
}

input[type="text"]{
    background-color: rgba(0, 255, 0, 0.179);
    color:white;
    border: 2px solid #fff;
}

input[type="number"]{
    background-color: rgba(0, 255, 0, 0.179);
    color: white;
    border: 2px solid #fff;
}

textarea[name="sua-mensagem"]{
    background-color: rgba(0, 255, 0, 0.179);
    color:white;
    border: 2px solid #fff;
}


/*-------- Estilo Quem assinou ---------*/
.quem-assinou {
    border: 2px solid #fff;
    width: 450px;
    height: 505px;
    margin-left: 200px;
    border-radius: 20px;
    background-color: rgba(0, 255, 0, 0.179)
}

.quem-assinou h2 {
    position: relative;
    margin-left: 30px;
    left: 20px;
    top: 30px;
    
}

.quem-assinou h2 {
    color: #fff;
}


.list-wrapper {
    background-color: transparent;
    width: 100%;
    max-width: 700px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0, .2);
    margin-top: 40px;
    border: 2px 0px 1px 2px solid orange;
}

.list-assinantes {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-item {
    display: flex;
    border-bottom: 1px solid #fff;
    padding: 16px;
    
}

.list-item__image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

}

.list-item__content {
    padding: 0 20px;
    
    flex-grow: 1;
}

.list-item__name {
    font-size: 24px;
    color: #fff;
    margin: 0;
}
.list-item__email {
    margin: 5px 0 0;
    color: #fff;
}

.list-item:hover {
    background-color: #fc6c04;
    
}

.list-item__action {
    display: flex;
    gap: 16px;
    align-items: center;
    opacity: 0;
    
}

.list-item:hover .list-item__action {
    opacity: 0.3;
}

/*-------- Estilo Galeria ---------*/

.container-img {
    max-width: 1260px;
    width: 100%;
    margin-bottom: 100px;
}

.slide-wrapper {
    position: relative;
}

.heading-1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: -50px;
    color: #fff;
}

.heading-1 span {
    color: #fc6c04;
}


.slide-wrapper .slider-button {
    position: absolute;
    top: 50%;
    color: #fff;
    border: none;
    outline: none;
    background-color: black;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slide-wrapper .slider-button:hover {
    background-color: #fc6c04;
}

.slide-wrapper .slider-button#prev-slider {
    left: -20px;
    display: none;
}

.slide-wrapper .slider-button#next-slider {
    right: -20px;
}

.slide-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(14, 1fr);
    
}

.slide-wrapper .image-list::-webkit-scrollbar {
    display: none;
}


.slide-wrapper .image-list .image-item {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.container-img .slider-scrollbar {
    height: 20px;
    width: 100%;
    background-color: #fc6b044d;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background-color: #ccc ;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 5px;
}



.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: black ;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-track :active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/*-------- Estilo Rodapé ---------*/

footer  {
padding: 60px 8%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    letter-spacing: 1px;
    background-color: #1717177c;
}

footer .flex {
    align-items: center;
    justify-content: space-between;
}

.footer-conteudo .footer-logo-contato p {
    color: #fff;
}

.footer-conteudo .footer-logo-contato h2 {
    margin-bottom: 0.75rem;
}

.footer-social-midia {
    display: flex;
    gap: 1rem;
    font-size: 30px;
    margin-top: 1.5rem;
}

.footer-social-midia .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s; /*tempo de transição hover*/
}

.footer-link {
    text-decoration: none;
    cursor: pointer;
}

.footer-social-midia .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook {
    background-color: #4267b3;
}
#whatsapp {
    background-color: #25d366;
}
#x-twitter {
    background-color: #000;
}

#tiktok {
    background-color: #000;
}

#footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-logo-img {
    position: relative;
    left: 40px;
}

#footer-list .footer-link {
    color: #d9d9d9;
    transition: all 0.4s; /*tempo de transição hover*/
}

#footer-list h3 {
    color: #fff;
}

.titulo-h3 {
    font-size: 23px;
}

.footer-logo-p {
    color: #fff;
    font-size: 16px;
    position: relative;
    left: 17px;
}

#footer-list .footer-link:hover {
    color: #fc6c04;
}

#footer-copyright {
    padding: 20px 0;
    background-color: #000;
}

#footer-copyright p {
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 1020px){
    /*--- GERAL---*/

    .flex {
        flex-direction: column;
    }

    .principal-manifesto .flex {
        flex-direction: column-reverse;
    }

    body {
        background-attachment: cover;
        background-repeat: space;
        

    }


    section.sobre-mim 
    section.sobre-mim .flex

    /*--- Cabeçalho ---*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }
    

    .logo img {
        width: 150px;
        padding-right: -30px;
    }

    .menu-desktop {
        display: none;
    }
    /*--- mobile ---*/

    .menu-mobile {
        background-color: rgb(3, 127, 3);
        height: 100%;
        position: fixed;
        top: 0;
        right: -10px;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: 0.4s;
        display: block; /* 1 none aqui */
    }

    .menu-mobile nav ul {
        text-align: right;
        margin-right: 20px;
    }
    .menu-mobile nav ul li a {
        display: block; /* 2 none aqui */
        color: #fc6c04;
        font-size: 20px;
        font-weight: 400;
        padding: 20px 8%;
    }

    .menu-mobile nav ul li a:hover {
        background-color: #ffffffa4;
        color: #000;
        display: block;
        
    }

    .menu-mobile .btn-fechar i {
        color: #fc6c04;
        font-size: 30px;
    }

    .btn-fechar {
        padding: 20px 5%;
    }

    .btn-abrir-mobile i {
        color: #fc6c04;
        font-size: 50px;
        left: -25px;
        display: block; /*  2 none aqui */
        position: relative;
    }

    .menu-mobile.abrir-menu {
        width: 70%;
        display: block;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu {
        display: block; /*  4 none aqui */
    }

    .btn-abrir-menu i {
        margin-left: 20px;
    }
    /*--- ZAP ---*/
    .icon {
        right: 2rem;
        font-size: 35px;
        width: 60px;
        height: 60px;
        top: 300px;
    }
    
    .icon .fab {
        padding-top: 10px;
    }

    .h2-icon {
        font-size: 15px;
        margin-top: -44px;
    }

    /*--- MANIFESTO ---*/

    .manifesto {
        background-color: #1717177c;
        padding: 1.25rem 0;
        margin:auto 0;
        width: 100vw;
    }
    
    .manifesto-titulo img {
        align-items: center;
        width: 200px;
        margin-left: 6.25rem;
    }

    section.principal-manifesto .flex {
        gap: 1px;
    }

    .manifesto-text h2 {
        font-size: 35px;
        margin-left: 10px;
        
    }

    section.principal-manifesto .manifesto-text p {
        padding: 0 0.5rem;
    }

    section.principal-manifesto .manifesto-img img {
        width: 85vw;
        margin-top: -50px;
        margin-bottom: -40px;
    }

    /*--- Formulario ---*/

    section.formulario .titulo {
        font-size: 35px;
        margin-left: 2.5rem;
    }   
    
    form {
        max-width: 200px;
        justify-content: center;
        margin-left: 2.5rem;
    }

    label {
        font-size: 19px;
        width: 250px;
        margin-left: 10px;
    }

    #btn-enviar {
        margin-top: 15px;
        margin-left: 0.5rem;
        margin-bottom: 30px;
        width: 290px;
        display: block;
    }

    /*--- ASSINATURAS ---*/

    .quem-assinou {
        width: 310px;
        margin-left: 2.5rem;
    }

    .list-item__email {
        font-size: 18px;
    }

    /*--- GALERIA ---*/

    .container-img {
        width: 100%;
        max-width: 320px;
        margin-left: 2.5rem;
    }

    .slide-wrapper {
        box-shadow: 0 0 25px #fc6c04;
    }

    .heading-1 {
        font-size: 25px;
        margin-left: -0.625rem;
        line-height: 40px;
    }
    
    /*--- FOOTER ---*/

    footer {
        padding: 50px 4%;
        box-shadow: 0 0 40px 10px #ffffff1d;
        
    }
    
    footer .flex {
        flex-direction: column;
        gap: 30px;
        
    }

    .footer-logo-img {
        margin-top: -20px;
        
    }

    footer .line-footer {
        text-align: center;
        
    }

    footer .footer-localidade .titulo-h3 {
        text-align: left;
        margin-left: -61px;
        
    }

    footer .footer-localidade #footer-list .footer-link {
        margin-left: -61px;
        
    }

    
}


